body {
    background-color:lightblue;

}

div{
    margin:25px;
}

nav{
    float: left;
    height: 100vh;
    background-color: darkblue;
    padding: 15px;
}

#Information {
    background-color: gray;
    border: 5px solid black;
    margin: 25px;
    padding: 15px;
    width: 200px;
    box-shadow: 0 4px 8px 0 rgba(100,0 ,0, 0.8)
}

ul{
    list-style-type: none;
    padding: 0;
    margin:0;
}

li a{
    background-color:mintcream;
    color: darkblue;
    padding: 1em 1.5em;
    display:block;
    text-decoration:none;
    text-transform: uppercase;
    margin: 5px;
    border-radius: 20px;
}

li a:hover{
    background-color: #555;
}
.Main {
    float: left;
    margin:0;
}
.skl {
    background-color: mintcream;
    border: 5px solid black;
    padding: 5px;
}
.skl:hover{
    zoom:150%
}
.gitlink {
   text-decoration: none;
   color:darkblue;
}
